In [10]:
# libraries
# ----------

import pandas as pd

In [11]:
# dataset
# --------

df = pd.read_csv('weekly.csv')

In [12]:
df.head()

   Year  Week  Saudi Arabia  Other Countries  Republic of Korea
0  2012    12             0                1                  0
1  2012    13             0                0                  0
2  2012    14             0                1                  0
3  2012    15             0                0                  0
4  2012    16             0                0                  0

In [13]:
df = df.melt(id_vars=['Year', 'Week'], 
             value_vars=['Saudi Arabia', 'Other Countries', 'Republic of Korea'], 
             var_name='Region', value_name='New Cases')
df = df.sort_values(['Year', 'Week', 'Region'])
df.head()

     Year  Week             Region  New Cases
376  2012    12    Other Countries          1
752  2012    12  Republic of Korea          0
0    2012    12       Saudi Arabia          0
377  2012    13    Other Countries          0
753  2012    13  Republic of Korea          0

In [14]:
df.to_csv('weekly_clean.csv', index=False)